// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.break-15{
    margin-top: 15px;
}
.panel {
    border: 1px solid #000;
    width: 350px;
    margin-bottom: 25px;
    padding: 10px;
    p{
        text-align: center;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}